.contenedor{
    display: flex;
    padding: 100px;
}


.rojo{
    background-color: red;
    width: 100px;
    height: 100px;
}

.verde{
    background-color: green;
    width: 100px;
    height: 100px;
}

.azul{
    background-color: blue;
    width: 100px;
    height: 100px;
}