
        <div class="servicios">
{{#each novedades}}
        <div class="serv1">
            <img src="/public/images/servicios.jpeg" alt="servimg">
            <h4>{{titulo}}</h4>
            <p>{{cuerpo}}</p>
        </div>

    
{{/each}}
    </div>